@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Gyümölcsök";
}
@model List<Gyumolcs>

<div>
    <h1>Gyümölcsök</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Név</th>
                <th>Ár</th>
                <th>Minőség</th>
                <th>Kép útvonala</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nev</td>
                <td>@item.Ar</td>
                <td>@item.Minoseg</td>
                <td>@item.KepUtvonala</td>
                <td width="180">
                    <img src="~/@item.KepUtvonala" width="150"/>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>